#plan {
  width: 100%;
  position: relative;
  z-index: 100;
  .shadow-seperator {
    margin-top: -100px;
  }
  #home-services {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    background-color: transparent;
  }
  #plan-card {
    background-color: #fff;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 60px 75px;
  }

  .ant-card-bordered {
    border: none;
  }
  .circles {
    top: 120px;
    left: 120px;
    position: absolute;
  }

  .plan-status{
    margin-top: 100px;
  }

  #plan-container {
    margin-top: 100px;
    .plan-title {
      h1 {
        font-weight: 900;
        color: #0f295d;
        font-size: 36px;
        margin: 0;
        line-height: 36px;
      }
      p {
        font-size: 14px;
        color: #2d365d;
        margin-top: 10px;
      }
      .type-pill {
        background-color: #fff3f0;
        text-align: center;
        font-size: 13px;
        border-radius: 30px;
        margin-top: 25px;
        margin: 0;
        padding: 4px 15px;
        color: #ff8a66;
      }
      ul {
        margin-top: 35px;
        li {
          padding-right: 27px;
          margin-bottom: 12px;
          position: relative;
          color: #212341;
        }
        li:before {
          content: "";
          position: absolute;
          right: 0;
          top: 3px;
          width: 16px;
          height: 16px;
          background: url("/assets/icons/bullet.png");
          background-size: 16px 16px;
        }
      }

      .item-button {
        display: flex;
        gap: 30px;
        align-items: center;
        width: 100%;
        flex: 1 1;
        margin-top: 40px;
        button {
          background-color: #00abb6;
          box-shadow: 0 10px 25px rgba(7, 124, 168, 0.25);
          color: #fff;
          width: 214px;
          height: 41px;
          padding: 0 30px;
          border: none;
          border-radius: 50px;
          height: 60px;
          font-size: 16px;
          line-height: 16px;
          font-weight: 700;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 15px;
        }

        .item-price {
          align-self: center;
          .item-currency {
            font-weight: 100;
            font-size: 18px;
            color: #2d365d;
            margin: 0;
          }
          .item-regular-price {
            color: #49be78;
            font-weight: 800;
            line-height: 30px;
            font-size: 30px;
            margin: 0;
          }
        }
      }
    }

    .plan-image {
      height: 460px;
      background-repeat: no-repeat;
      object-fit: cover;
      background-size: cover;
      background-position: center center;
      border-radius: 50px;
      img {
        overflow: hidden;
        border-radius: 25px;
        box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
        object-fit: cover;
      }
    }
  }
  .status-item {
    color: #0f295d;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
    span {
      background-color: #f5f3fc;
      color: #514eb6;
      font-size: 13px;
      font-weight: 400;
      padding: 2px 15px;
      border-radius: 30px;
    }
  }

  .plan-body {
    color: #2d365d;
    font-weight: 400;
    font-size: 14px;
    margin-top: 50px;
    position: relative;
    padding-right: 40px;
    &::before {
      content: "";
      width: 10px;
      height: 100%;
      background-color: #f8f9fb;
      position: absolute;
      right: 0;
      border-radius: 10px;
    }
  }
}
